.classpath
.project
.settings
.checkstyle
bin
target
/lib
/site-content
.ekstazi
*.class
*.iml
*.ipr
*.iws
.idea
*~

# Gradle
.gradle
*/build/

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

bazel-bin/
bazel-commons-math/
bazel-out/